<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="icon" href="/img/icon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/basic.css" />
    <% if (page_type == "home") { %>
    <link rel="stylesheet" href="/css/home.css" />
    <% } if (page_type == "show") { %>
    <link rel="stylesheet" href="/css/show.css" />
    <% } %>
    <script defer src="/js/home.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg " id="nav">
      <div>
        <% if (page_type == "home") { %>
        <button
          type="button"
          id="sidebarCollapse"
          class="btn btn-primary"
          style="background-color: transparent; border: none; margin-right: 10px;"
        >
          <i class="fa fa-bars w3-xlarge"></i>
        </button>
        <% } %>
        <a class="navbar-brand" href="/">
          <img src="/img/logo.png" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto"></ul>
        <ul class="nav navbar-nav navbar-right">
          <button
            type="button"
            class="btn"
            id="announce"
            data-toggle="modal"
            data-target="#exampleModalLong"
          >
            <i class="fa fa-bell w3-xlarge" id="prof"></i>
          </button>
          <div class="btn-group dropleft">
            <button
              class="btn"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-user-circle w3-xxlarge" id="prof"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="<%= base %>">
                <!-- Icon for dashboard -->
                <% if (base_page == "Dashboard") { %>
                <i class="fa fa-tachometer w3-large"></i>
                <!-- Icon for profile -->
                <% } if (base_page == "Profile") { %>
                <i class="fa fa-id-badge w3-large"></i>
                <% } %> <%= base_page %>
              </a>
              <a class="dropdown-item" href="/auth/signout">
                <i class="fa fa-sign-out w3-large"></i> Signout
              </a>
            </div>
          </div>
        </ul>
      </div>
    </nav>
