<div class="row">
  <div class="col">
    <button
      class="btn bg-dark btn-block btn-lg"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <a class="links" href="">
        <i class="fa fa-calander w3-xlarge" style="color: white;"></i>
        Create Appointment
      </a>
    </button>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Appointment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="control-label">Appointment Time</h3>
        <input type="date" name="date" /> 
        <input type="time" name="time" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        
