<label>
  <p class="label-txt">Name</p>
  <input
    name="name"
    type="text"
    class="input"
    required="required"
    pattern="^[A-Za-z]{1,15}"
    title="Please use only characters"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<div style="height: 15px;"></div>
<label>
  <p class="label-txt">Profile</p>
  <input
    name="profile"
    type="text"
    class="input"
    required="required"
    pattern="^[A-Za-z]{1,15}"
    title="Please use only characters"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<div style="height: 15px;"></div>
<label>
  <p class="label-txt">Services</p>
  <input
    name="services"
    type="text"
    class="input"
    required="required"
    pattern="^[A-Za-z]{1,15}"
    title="Please use only characters"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<div style="height: 15px;"></div>
<label>
  <p class="label-txt">Location</p>
  <input
    name="location"
    type="text"
    class="input"
    required="required"
    pattern="^[A-Za-z]{1,15}"
    title="Please use only characters"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<div style="height: 15px;"></div>
<label>
  <p class="label-txt">Website</p>
  <input
    name="website"
    type="url"
    class="input"
    required="required"
    title="Please use only characters"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<div style="height: 15px;"></div>
<label>
  <p class="label-txt">Email</p>
  <input
    name="email"
    type="email"
    class="input"
    required="required"
    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
    title="Invalid email"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<div style="height: 15px;"></div>
<label>
  <p class="label-txt">Phone Number</p>
  <input
    placeholder="05xxxxxxxx"
    name="numbers"
    type="text"
    class="input"
    required="required"
    pattern="[0]{1}[5]{1}[0-9]{8}"
    ,
    title="Invalid number"
  />
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<button type="submit" class="btn btn-primary">
  Add Clinic
</button>
