<%- include("./partials/head.ejs") %>
<div class="wrapper">
  <div id="content">
    <div class="jumbotron">
      <nav class="navbar navbar-expand-lg bg-danger">
        <a class="navbar-brand" href=""> Error </a>
      </nav>
      <i class="fa fa-robot w3-xxxlarge"></i>
      <I class="fa fa-lock w3-xlarge"></I>
      <h3 class="display-3"><&= error %></h3>
    </div>
  </div>
</div>
<%- include("./partials/foot.ejs") %>
