<%- include("./partials/head.ejs") %>
<div class="wrapper">
  <div id="content">
    <div class="jumbotron">
      <h3 class="display-3">
        <span>
          <img src="/img/unauth.png" alt="" width="25%" height="25%" />
          <%= error %>
        </span>
      </h3>
    </div>
  </div>
</div>
<%- include("./partials/foot.ejs") %>
