<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Passion+One"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" href="/img/icon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <div class="bodyCard" style="height : <%=expand==true?360:340%>px">
      <a href="/"
        ><img
          class="logo"
          src="/img/logo.png"
          alt="Error, image couldn't be loaded"
      /></a>
      <h5 class="cardTitle" style="font-size: 30px;">Welcome to PAMS</h5>
      <h6 class="card-subtitle" style="color: #ffffff;">
        we help you organize flexible appointments with the most qualified
        doctors around you
      </h6>
      <h6 class="warning-msg"><%=e_msg%></h6>
      <div class="card-body" style="padding-top: 35;">
        <form class="form" method="post" action="/auth/login">
          <label>
            <p class="label-txt">Email</p>
            <input
              name="email"
              type="email"
              required="required"
              class="input"
            />
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <div style="height: 15px;"></div>
          <label>
            <p class="label-txt">Password</p>
            <input
              name="password"
              type="password"
              required="required"
              minlength="3"
              class="input"
            />
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <div>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <a href="/auth/register" style="color: white;"
            >Don't have an account? Register!</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
