<%- include("./partials/head_show.ejs") %>
<div class="wrapper">
  <div id="content">
    <div class="jumbotron">
      <div class="info"></div>
      <button class="btn bg-dark btn-block btn-lg">Edit Profile</button>
    </div>
  </div>
</div>
<%- include("./partials/foot.ejs") %>
