body {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../../login.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bodyCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 340px;
    padding: 28px 20px;
    border-radius: 25px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
}

.cardBody {
    justify-content: center;
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
}

.logo {
    position: absolute;
    width: 150px;
    height: auto;
    border-radius: 10%;
    top: calc(-140px/2);
    left: calc(50% - 80px);
}

.cardTitle {
    text-align: center;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: 400; 
    color: white
}

.warning-msg {
    color: #FFFF00;
    text-align: center;
}

.form {
    width : 1000%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parent {
    width:100%; 	
    position: relative;
}

.labelTxt {
    top: -1.6em;
    font-family: Arial;
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
    transition: ease .3s;
}

.input {
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: large;
}

.lineBox {
    position: relative;
    width: 100%;
    height: 2px;
    background:	#5bc0de;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #03447e;
    transition: ease .6s;
}

.input:focus + .lineBox .line {
    width: 100%;
}

.sub {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    width: 100%;
    background-color: #5bc0de;
    font-size: large;
    font-family: sans-serif;
    color: #03447e;
}

.sub:hover {
    background-color: #489cb6;
}

::placeholder { 
    color: rgb(200, 235, 255);
    font-family: sans-serif;
}

.link {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}