<!-- Add New Announcement -->
<div
  class="modal fade"
  id="newModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/announcements" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="newModalLabel">
            Add New Announcement
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="message-text" class="col-form-label"
              >Announcement:</label
            >
            <textarea
              class="form-control"
              id="message-text"
              name="content"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
