<!DOCTYPE html>
<html>

<head>
    <title>newVisit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/newVisit.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dmuy/MDTimePicker/mdtimepicker.min.css">
    <script src="https://cdn.jsdelivr.net/gh/dmuy/MDTimePicker/mdtimepicker.min.js"></script>
    <script src="/js/newVisit.js"></script>

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-header  d-flex align-items-center">
            <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
            <h1 class="navbar-text">Add New Visit</h1>
        </div>
    </nav>
    <form id="form">
        <label>
            <p class="label-txt">Host Name</p>
            <input name="host" type="text" class="input" value="<%=type=='resident'?name:''%>" <%=type=='resident'?'disabled ':''%>>
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Visitor Name</p>
            <input name="visitor" type="text" class="input" value="<%=type=='visitor'?name:''%>" <%=type=='visitor'?'disabled ':''%>>
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Destination</p>
            <input name="destination" type="text" class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Visit Date</p>
            <input name="date" type="text" class="datepicker input" onkeydown="return false">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Visit Time</p>
            <input name="time" type="text" class="input timepicker" onkeydown="return false">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Car maker</p>
            <input name="maker" type="text" class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Car model</p>
            <input name="model" type="text" class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Model year</p>
            <input name="year" type="number" class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Car plate number</p>
            <input name="plate" type="text" class="input" maxlength="7">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <button type="button" id="submitForm">submit</button>
    </form>
</body>