.ctrl:hover
{
-fx-background-color :  #353557 
}
.ctrl {
 -fx-padding: 14px 28px;
 -fx-border-color:  #467de4;
 -fx-border-width: 0 0 1 0;
 
}
.cntlButt:hover{
    -fx-effect:  dropshadow( two-pass-box, #353557, 2, 1, 0,0);
}
.butto {
-fx-background-radius: 16.4, 15;
-fx-background-insets: -1.4, 0;
-fx-border-radius: 15;
-fx-background-color:   #467de4;

}
.searches {
	-fx-text-fill:#353557;
	-fx-prompt-text-fill: #353557;
	-fx-background-color: #ffffff;
}